<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://google.com/article"
            },
            "headline": "{{blog.title}}",
            "datePublished": "{{{blog.created_date}}}",
            "dateModified": "{{{blog.created_date}}}",
            "author": {
                "@type": "Person",
                "name": "Muhammed Furkan AYDIN"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Turk Developer",
                "logo": {
                    "@type": "ImageObject",
                    "url": "http://www.turkdeveloper.com/img/profile_picture.jpg",
                    "width": 926,
                    "height": 926
                }
            },
            "description": "{{blog.description}}"
        }
    </script>
</head>

<body class="show-menu">
    <div class="container">
        <section class="cover" style="background-image:url(/img/profile_picture.jpg);"></section>
        <section class="content-area">
            {{> menu}}
            <div class="article">
                <h1>{{{blog.title}}}</h1>
                <br><br> {{{blog.detail}}}
                <br><br> {{#if admin}}
                <button class="btn" id="remove-article" value="{{blog.url}}">Remove</button> {{/if}}
            </div>
            {{> footer}}
        </section>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>